/* game */

.horiz-ul-3d5f {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horiz-li-7ba0 {
    float: left;
}

.highlight-white-7cce {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black-03bf {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-check-f5f6 {
    box-shadow: inset 0 0 3px 3px red;
}

.highlight-purple-08ac {
    box-shadow: inset 0 0 3px 3px purple;
}