/* game */

:root {
    --light: #fff;
    --dark: #404040;
    --shadow: rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* match chessboard */
    color: var(--dark);
}

body {
    background: #ccc;
}

.highlight-white-7cce {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black-03bf {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-check-f5f6 {
    box-shadow: inset 0 0 3px 3px red;
}

.highlight-purple-08ac {
    box-shadow: inset 0 0 3px 3px purple;
}