body {
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    --main-margin: 1vw;
    color: #4d4d4d;
}

.app-header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    font-size: 25px;
    margin: 0 .5rem;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

.logo {
    font-size: 30px;
}

.app-header a {
    color: #4d4d4d;
}

.logo:hover {
    color: #007fff;
}

.main-wrapper {
    margin:auto;
    display: grid;
    grid-template-areas: '. main . ';
    grid-template-columns: 3fr 2fr 3fr;
}

main {
    grid-area: main;
    /*width: 30em;*/
    background: #fff;
    --box-padding:60px;
    padding: 5vh var(--box-padding);
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

form {
    display: grid;
    grid-gap: 16px;
}

button {
    background: #1b78d0;
    text-transform: uppercase;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
}

a {
    color: #1b78d0;
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: normal;
}

.input {
    display: block;
    width: 92%;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    height: 2.7em;
    padding: .6em 1em;
}

.input-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
}

#error-message {
    display: none;
    color: #c33;
}