:root {
    --header-color: #cccccc;
    --header-shadow-color: #888888;
    --grid-item-border: #ccc;
    --footer-background: #f4f4f4;
    --footer-color: #444;
}

html,
body {
    /* https://css-tricks.com/couple-takes-sticky-footer/ */
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}


/* For sticky footer - grow to fill the space */

.content {
    flex: 1 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0.6rem;
}

.app-header {
    background: var(--header-color);
    box-shadow: 0.2rem 0.2rem 0.6rem var(--header-shadow-color);
}

.app-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header .logo {
    width: 5rem;
}

.grid {
    display: grid;
    grid-gap: 0.25rem;
}

.grid .item {
    border: 1px var(--grid-item-border) solid;
    padding: 0.6rem;
    box-shadow: 1px 1px 2px var(--grid-item-border);
}

.app-footer {
    background: var(--footer-background);
    box-shadow: 0.2rem 0.2rem 0.6rem var(--header-shadow-color);
    flex-shrink: 0;
    color: var(--footer-color);
    padding: 0.6rem;
    font-size: 0.85rem;
    margin-top: 0.6rem;
}

.app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app-footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Game */

#game {
    grid-template-areas: "top-player" "board" "bottom-player" "pgn";
}

#top-player {
    grid-area: top-player;
    align-self: start;
}

#board {
    grid-area: board;
}

#bottom-player {
    grid-area: bottom-player;
    align-self: end;
}

#start {
    align-self: start;
    justify-self: start;
    background: var(--footer-background);
    box-shadow: 0.2rem 0.2rem 0.6rem var(--header-shadow-color);
}


/* Player divs */

.player {
    display: grid;
    grid-template-areas: "clock name" "clock elo";
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    justify-self: start;
    /*margin: auto;*/
}

.clock {
    grid-area: clock;
}

.name {
    grid-area: name;
}

.elo {
    grid-area: elo;
}

.large-fonts {
    font-size: 2rem;
}

.small-fonts {
    font-size: 0.8rem;
}


/* PGN */

#pgn {
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    grid-template-areas: 'r1 r1w r1b r2 r2w r2b' 'r3 r3w r3b r4 r4w r4b';
    grid-area: pgn;
}


/* Select game */

#select-game {
    /*grid-auto-columns: min-content;*/
    /* grid-auto-rows: min-content; */
    grid-template-areas: 'foe color tc';
}


/* Buttons */

.btn {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.btn:hover {
    opacity: 0.5;
}


/* Change layout on Desktop */

@media (min-width: 600px) {
    #game {
        grid-template-areas: 'board top-player' 'board pgn' 'board bottom-player';
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #pgn {
        grid-template-areas: 'r1 r1w r1b' 'r2 r2w r2b' 'r3 r3w r3b' 'r4 r4w r4b';
    }
}