.board-content {
  .btn-group-vertical {
    button {
      text-align: left;
      margin-bottom: 0.5rem;
    }
  }
}

.modal-promo .modal-content {
  background-color: rgba(0,0,0,.0001);
  border: none;
}
