<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chess</title>

    <link rel="stylesheet" href="/static/css/chessboard.css">
    <link rel="stylesheet" href="/static/css/mobile-select.css">
    <link rel="stylesheet" href="/static/css/mockup.css">

    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/chessboard.js"></script>
    <script src="/static/js/chess.min.js"></script>
</head>
<body>
    <script>
        var UserName = "{{.UserName}}";
        var PGN = "{{.PGN}}";
    </script>
    <div class="content">
        <header class="app-header container">
            <div class="log-div">
                <a class="logo" href="/">gameserver</a>
            </div>
            <div class="usermenu">
            {{if not .IsAnnon}}
                <div class="container">{{.UserName}}</div>
                <img id="menu-img" class="btn" src="img/menu.svg" onclick="$('#logout-form').submit();">
                <form id="logout-form" action="/logout" method="GET"></form>
            {{end}}
            {{if .IsAnnon}}
                <div class="btn">
                    <a href="/static/login.html">sign in</a>
                </div>
            {{end}}
            </div>
        </header>

        <div class="grid container" id="game">
            <div class="item" id="board"></div>

            <div class="item player" id="black-player">
                <div id="black-clock" class="clock large-fonts">⌛&nbsp;00:00&nbsp;</div>
                <div id="black-name" class="name small-fonts">🕶&nbsp;</div>
                <div id="black-elo" class="elo small-fonts">🏆&nbsp;</div>
            </div>
            <div class="item player" id="white-player" >
                <div id="white-clock" class="clock large-fonts">⌛&nbsp;00:00&nbsp;</div>
                <div id="white-name" class="name small-fonts">👓&nbsp;</div>
                <div id="white-elo" class="elo small-fonts">🏆&nbsp;</div>
            </div>

            <div class="grid container small-fonts" id="pgn">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div> <!-- end of pgn -->
            <div class="grid small-fonts" id="select-game">
                <form class="item" id="select-foe"> Select Foe
                    <div class="radiobtn">
                        <input type="radio" id="human"
                               name="drone" value="human" checked/>
                        <label for="human">Human</label>
                    </div>

                    <div class="radiobtn">
                        <input type="radio" id="stockfish"
                               name="drone" value="stockfish"/>
                        <label for="stockfish">Stockfish</label>
                    </div>

                    <div class="radiobtn">
                        <input type="radio" id="lc0"
                               name="drone" value="lc0"/>
                        <label for="lc0">lc0</label>
                    </div>
                </form> <!-- select foe -->
                <form class="item" id="select-color"> Select Color
                    <div class="radiobtn">
                        <input type="radio" id="any"
                               name="drone" value="any" checked/>
                        <label for="any">Any</label>
                    </div>

                    <div class="radiobtn">
                        <input type="radio" id="white"
                               name="drone" value="white"/>
                        <label for="white">White</label>
                    </div>

                <div class="radiobtn">
                    <input type="radio" id="black"
                           name="drone" value="black"/>
                    <label for="black">Black</label>
                </div>
            </form> <!-- select time control -->
            <form class="item" id="select-tc"> Select Time Control
                <div class="radiobtn">
                    <input type="radio" id="900+15"
                           name="drone" value="900+15" checked/>
                    <label for="900+15">15m+15s</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="300+5"
                           name="drone" value="300+5"/>
                    <label for="300+5">5m+5s</label>
                </div>

                              <div class="radiobtn">
                        <input type="radio" id="60+1"
                               name="drone" value="60+1"/>
                        <label for="60+1">1m+1s</label>
                    </div>
                </form> <!-- select tc -->
            </div> <!-- end of select game -->
            <div class="item btn" id="start">play</div>
        </div> <!-- end of game -->
    </div> <!-- end of div class="content" -->
    <footer class="app-footer" id="buttons">
        <ul>
            <li class="btn" id="undo">Undo</li>
            <li class="btn" id="resign">Resign</li>
            <li class="btn" id="draw">Draw</li>
            <li class="btn" id="←">←</li>
            <li class="btn" id="→">→</li>
            <li class="btn" id="↔">↔</li>
        </ul>
    </footer>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/ws.js"></script>
    <script src="/static/js/status.js"></script>
    <!--
    <script src="/static/js/signin.js"></script>
    -->
    <script src="/static/js/w2/select-game.js"></script>
    <script src="/static/js/toolbar.js"></script>
    <script src="/static/js/w2/players.js"></script>
    <script src="/static/js/w2/buttons.js"></script>
    <script src="/static/js/w2/pgn.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/mockup.js"></script>
</body>
</html>
