<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chess</title>

    <link rel="stylesheet" href="/static/css/chessboard.css">
    <link rel="stylesheet" href="/static/css/mobile-select.css">
    <link rel="stylesheet" href="/static/css/mockup.css">
    <link rel="stylesheet" href="/static/js/vendor/bootstrap.css">

    <script src="/static/js/vendor/jquery-3.4.1.js"></script>
    <script src="/static/js/vendor/jquery-ui.js"></script>
    <script src="/static/js/vendor/chessboard.js"></script>
    <script src="/static/js/vendor/chess.min.js"></script>
</head>
<body>
    <script>
        var UserName = "{{.UserName}}";
        var PGN = "{{.PGN}}";
    </script>
    <header class="app-header">
        <div class="log-div container">
            <a class="logo" href="/">gameserver</a>
        </div>
        <div class="usermenu">
            {{if not .IsAnnon}}
            <div class="container">{{.UserName}}</div>
            <img id="menu-img" class="btn" src="img/menu.svg" onclick="$('#logout-form').submit();">
            <form id="logout-form" action="/logout" method="GET"></form>
            {{end}}
            {{if .IsAnnon}}
            <div class="btn">
                <a href="/static/login.html">sign in</a>
            </div>
            {{end}}
        </div>
    </header>
    <div class="container-fluid">
        <div class="grid container" id="game">
            <div class="item player" id="top-player">
                <div id="top-clock" class="clock large-fonts">⌛&nbsp;00:00&nbsp;</div>
                <div id="top-name" class="name small-fonts">🕶&nbsp;</div>
                <div id="top-elo" class="elo small-fonts">🏆&nbsp;</div>
            </div>

            <div class="item" id="board"></div>

            <div class="item player" id="bottom-player" >
                <div id="bottom-clock" class="clock large-fonts">⌛&nbsp;00:00&nbsp;</div>
                <div id="bottom-name" class="name small-fonts">👓&nbsp;</div>
                <div id="bottom-elo" class="elo small-fonts">🏆&nbsp;</div>
            </div>
            <div class="grid container small-fonts" id="pgn">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div> <!-- end of pgn -->
        </div> <!-- end of game -->

        <div class="container-md position-relative">
            <div class="grid select-game-container" id="select-game">
                <form class="item" id="select-foe">Foe
                <div class="radiobtn">
                    <input type="radio" id="human"
                           name="drone" value="human" checked/>
                    <label for="human">Human</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="stockfish"
                           name="drone" value="stockfish"/>
                    <label for="stockfish">Stockfish</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="lc0"
                           name="drone" value="lc0"/>
                    <label for="lc0">lc0</label>
                </div>
            </form> <!-- select foe -->
                <form class="item" id="select-color">Color
                <div class="radiobtn">
                    <input type="radio" id="any"
                           name="drone" value="any" checked/>
                    <label for="any">Any</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="white"
                           name="drone" value="white"/>
                    <label for="white">White</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="black"
                           name="drone" value="black"/>
                    <label for="black">Black</label>
                </div>
            </form> <!-- select time control -->
                <form class="item" id="select-tc">Time
                <div class="radiobtn">
                    <input type="radio" id="900+15"
                           name="drone" value="900+15" checked/>
                    <label for="900+15">15m+15s</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="300+5"
                           name="drone" value="300+5"/>
                    <label for="300+5">5m+5s</label>
                </div>

                <div class="radiobtn">
                    <input type="radio" id="60+1"
                           name="drone" value="60+1"/>
                    <label for="60+1">1m+1s</label>
                </div>
            </form> <!-- select tc -->
                <div class="btn btn-secondary btn-sm btn-block start-button mt-3" id="start" data-target="matching-dialog">play</div>
            </div> <!-- end of select game -->
            <div class="grid container" id="history" style="">
                <div class="d-flex bd-highlight">
                    <div class="item hist-time flex-fill"><a href="?game=c2daa1795e254ac39aa2e4337ac2560f">22:35</a></div>
                    <div class="item hist-result align-content-center flex-fill"></div>
                    <div class="item hist-players flex-fill">mzonenac (0) - mz (0)</div>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="item hist-time flex-fill"><a href="?game=23a80ff7f1bf4bcebff8bf3f8f55badb">22:33</a></div>
                    <div class="item hist-result align-content-center flex-fill"></div>
                    <div class="item hist-players flex-fill">mzonenac (0) - mz (0)</div>
                </div></div>
        </div>

    </div> <!-- end of div class="content" -->
    <footer class="app-footer" id="buttons">
        <ul>
            <li class="btn" id="undo">Undo</li>
            <li class="btn" id="resign">Resign</li>
            <li class="btn" id="draw">Draw</li>
            <li class="btn" id="←">←</li>
            <li class="btn" id="→">→</li>
            <li class="btn" id="↔">↔</li>
            <li class="btn" id="home">Home</li>
        </ul>
    </footer>

    <div id="matching-dialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">Waiting for match...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="item">Players playing:  <span id="players-online">4</span></div>
                    <div class="item mb-4">Players in queue:  <span id="players-inqueue">3</span></div>
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="modal-footer border-top-0 justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/vendor/bootstrap.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/ws.js"></script>
    <script src="/static/js/status.js"></script>
    <script src="/static/js/w2/select-game.js"></script>
    <script src="/static/js/w2/players.js"></script>
    <script src="/static/js/w2/buttons.js"></script>
    <script src="/static/js/w2/game-history.js"></script>
    <script src="/static/js/w2/game-div.js"></script>
    <script src="/static/js/w2/start-btn.js"></script>
    <script src="/static/js/w2/pgn.js"></script>
    <script src="/static/js/mockup.js"></script>

</body>
</html>
