.player {
    display: grid;
    grid-template-areas: "clock name" "clock elo";
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    justify-self: start;
    /*margin: auto;*/

    border: 1px var(--grid-item-border) solid;
    padding: 0.6rem;
    box-shadow: 1px 1px 2px var(--grid-item-border);
    border-radius: 3px;
    /*max-width: 20rem;*/

}

.clock {
    grid-area: clock;
    white-space: nowrap;
    font-size: 2rem;
    padding: 10px;
}

.name {
    grid-area: name;
    font-size: 1rem;
}

.elo {
    grid-area: elo;
    font-size: 1rem;
}
