:root {
  --header-color: #cccccc;
  --header-shadow-color: #888888;
  --grid-item-border: #ccc;
  --footer-background: #f4f4f4;
  --footer-color: #444;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.large-fonts {
  font-size: 2rem;
}

.small-fonts {
  font-size: 0.8rem;
}
